.nav-item {
    padding: 25px 50px;
    cursor: pointer;
    @media only screen and (max-width: 1300px) {
        padding: 25px 40px;
    }
}

.nav-item:hover {
    background-color: rgb(0, 66, 247);
}

.nav-item fa-icon {
    margin-right: 20px;
    font-size: 22px;
}

.nav-item span {
    display: inline;
    @media only screen and (max-width: 1300px) {
        display: none;
    }
}
