<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular App</title>
    <!-- Chemin vers le fichier JavaScript -->
</head>

<body>
    <!-- Chemin vers le fichier JavaScript-->

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Medical Step</th>
                <th scope="col">Medical Personnal</th>
                <th scope="col">Room</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowData">
                <td>{{ data.current }}</td>
                <td>{{ data.rhName }}</td>
                <td>{{ data.rmName }}</td>
            </tr>
        </tbody>
    </table>
    <div class="mb-3">
        <input type="file" id="fileInput" #fileInput />
    </div>
    <!-- Modal1-->

    <div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal fade" id="modal-yes">Yes</button>
                    <button type="button" class="btn btn-secondary " data-dismiss="modal fade" id="modal-no">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal2-->

    <div class="modal " id="promptModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <span id="modal-text1"></span>
                    <input type="number" id="modalInput" class="form-control">

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal fade" id="modalOKBtn">ok</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>